# RuneAudio udev rules file contains various rules entries
# filename: /etc/udev/rules.d/99-runeaudio.rules
#
#
# the following lines were previously in the file 70-usb-audio.rules
#
# adding or removing audio card ('card0' to 'card9') will trigger running /srv/http/command/refresh_ao
# provides plug & play audio card functionality (e.g. usb, bluetooth)
KERNEL=="card[0-9]", SUBSYSTEM=="sound", ACTION=="add", RUN+="/srv/http/command/refresh_ao async"
KERNEL=="card[0-9]", SUBSYSTEM=="sound", ACTION=="remove", RUN+="/srv/http/command/refresh_ao async"
#
#
# the following lines were previously in the file 80-net-setup-link.rules
#
# adding or removing network interface will trigger running /srv/http/command/refresh_nics
# provides plug & play network dongle functionality
SUBSYSTEM=="net", ACTION=="add", RUN+="/srv/http/command/refresh_nics async"
SUBSYSTEM=="net", ACTION=="remove", RUN+="/srv/http/command/refresh_nics async"
#
#
# following rules to connect a connected BT device (phone, speaker, etc) to the alsa subsystem
#
#
SUBSYSTEM=="bluetooth", ENV{DEVTYPE}=="link", ACTION=="add", RUN+="/srv/http/command/bt-connect.php add"
SUBSYSTEM=="bluetooth", ENV{DEVTYPE}=="link", ACTION=="remove", RUN+="/srv/http/command/bt-connect.php remove"
#
#
# following rules to detect a CD insertion or eject and removal/power on/off of the CD drive
#
#
# power on, USB plug in, insert, eject
KERNEL=="sr[0-9]", SUBSYSTEM=="block", ENV{ID_CDROM}=="1", ENV{DISK_MEDIA_CHANGE}=="1", ACTION=="change", RUN+="/srv/http/command/CD_detect changed async"
# power off, USB unplug
KERNEL=="sr[0-9]", SUBSYSTEM=="block", ENV{ID_CDROM}=="1", ACTION=="remove", RUN+="/srv/http/command/CD_detect removed async"
