# this disables the vc4 pointer which interferes with touch screen
# operation on fbdev. May or may not be needed for hdmi use
KERNEL=="input*",ATTRS{name}=="vc4",ENV{LIBINPUT_IGNORE_DEVICE}="1"
# if the pointer will not go away, uncomment this and reboot
# it disables the first event device - this is a big hammer!
#KERNEL=="event0",ENV{LIBINPUT_IGNORE_DEVICE}="1"
