##Made by Hondagx35
##Save this as /etc/systemd/system/amixer-webui.service

[Unit]
Description=Rune Audio Amixer-WebUI Service
After=sound.target network.target

[Service]
User=http
Group=http
RuntimeDirectory=uwsgi
WorkingDirectory=/srv/http/amixer
#ExecStart=/usr/bin/python /srv/http/amixer/alsamixer_webui.py
ExecStart=/usr/bin/uwsgi --ini /srv/http/amixer/amixer-webui.ini
ExecReload=/usr/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=10
StartLimitInterval=30
StartLimitBurst=20
MemoryDenyWriteExecute=true
NoNewPrivileges=true
ProtectControlGroups=yes
ProtectHome=true
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=full

# Sandboxing
AmbientCapabilities=CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_RAW
IPAddressDeny=any
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
#PrivateDevices=true
PrivateTmp=true
PrivateUsers=false
#ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=true
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service
SystemCallFilter=~@resources @p\rivileged
UMask=0077

[Install]
WantedBy=multi-user.target
