[Unit]
Description=ap0 management Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /srv/http/command/ap_manage_iwd.py
Restart=always

[Install]
WantedBy=multi-user.target
