[Unit]
Description=Bluealsa PCM manager
Documentation=https://github.com/borine/bluealsa-monitor

[Service]
Type=simple
User=http
Group=http
RuntimeDirectory=bluealsa-monitor
RuntimeDirectoryMode=0755
Environment="XDG_RUNTIME_DIR=/run"
# ExecStart=/usr/bin/bluealsa-monitor
# The following line for RuneAudio
ExecStart=/bin/bluealsa-monitor --udev --default=a2dp,playback

[Install]
WantedBy=default.target
