[Unit]
Description=Bluetooth Agent
Requires=bluetooth.service
After=bluetooth.service
[Service]
ExecStartPre=/usr/bin/bluetoothctl discoverable on
#ExecStart=/usr/bin/bt-agent --capability=NoInputNoOutput
#ExecStart=/usr/bin/simple-agent -c NoInputNoOutput
ExecStart=/srv/http/command/bluetooth-agent
RestartSec=5
Restart=always
KillSignal=SIGUSR1
[Install]
WantedBy=multi-user.target
