[Unit]
Description=The BlueAlsa connection monitor
After=network.target

[Service]
Type=simple
RuntimeDirectory=bluealsa-monitor
PIDFile=/run/bluelasa-monitor/bt-connection.pid
ExecStart=/usr/bin/bluealsactl -q monitor
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
