[Unit]
Description=RuneAudio Asynchronous FIFO command queue
After=network.target sound.target redis.service

[Service]
ExecStart=/var/www/command/cmd_async_queue
Nice=15
Restart=always
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
