[Unit]
Description = Fix Ethernet nics which fail to acquire an IP address
# on some Pi models (Pi 5) running RPiOS bookworm Ethernet nics which fail to acquire an IP address
# this workaround will fix the problem
# DefaultDependencies=no
After=network.target

[Service]
Type=oneshot
#RemainAfterExit=yes
ExecStart=/srv/http/command/fix_ethx.sh

[Install]
# WantedBy=getty.target # removed for vc4 implementation
WantedBy=multi-user.target
