[Unit]
Description = Fix UBS devices which fail to initialise
# on some Pi models USB sound cards fail to activate
# this workaround will fix the problem
# DefaultDependencies=no
After=basic.target

[Service]
Type=oneshot
# this is important, without it this routine will restart with rune_SY_wrk
RemainAfterExit=yes
ExecStart=/srv/http/command/fix_usbdevices.sh

[Install]
# WantedBy=getty.target # removed, Wi-Fi only configuration will wait for completion in boot sequence
WantedBy=rune_SY_wrk.service
