[Unit]
Description=Music Player Daemon
Documentation=man:mpd(1) man:mpd.conf(5)
After=network.target sound.target local-fs.target

[Service]
User=mpd
Type=notify
#Type=exec
RuntimeDirectory=mpd
# remove the output device state, playtime and webradio song title from the state file before starting
ExecStartPre=-/usr/bin/sed -i '/^audio_device_state\\:/d ; /^time\\:/d ; /^Title\\:/d' '/var/lib/mpd/mpdstate'
ExecStart=/usr/bin/mpd --no-daemon
# the following lines ensure that only output null is enabled on shutdown/restart
#    and mpd saves its state file when the service stops or is restarted
ExecStop=-/usr/bin/mpc enable only null
ExecStop=-/usr/bin/mpc stop
ExecStop=-/usr/bin/mpd --kill
# the following line could replace ExecStart=... and ExecStop=..., whether the state file is saved on stop/restart is unknown!
#ExecStart=/usr/bin/mpd --systemd

# Enable this setting to ask systemd to watch over MPD, see
# systemd.service(5).  This is disabled by default because it causes
# periodic wakeups which are unnecessary if MPD is not running.
#WatchdogSec=120

# Force mpd to stop/restart within 10 seconds
TimeoutStopSec=10

# allow MPD to use real-time priority 50
LimitRTPRIO=50
LimitRTTIME=infinity

# for io_uring
LimitMEMLOCK=64M

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes

# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
# AF_NETLINK is required by libsmbclient, or it will exit() .. *sigh*
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK
RestrictNamespaces=yes

[Install]
WantedBy=default.target
Also=mpd.socket
