[Unit]
Description=Owntone monitor to detect changed local outputs and network clients. And to provide metatdata to clients.
After=owntone.service

[Service]
Type=simple
ExecStart=/srv/http/command/owntone_monitor.php
Restart=always

[Install]
WantedBy=multi-user.target
