[Unit]
Description=Owntone monitor to detect changed local outputs and network clients
After=owntone.service

[Service]
Type=simple
# User=http
ExecStart=/srv/http/command/owntone_monitor.php
Restart=always

[Install]
WantedBy=multi-user.target
