[Unit]
Description=Owntone monitor to processes changed outputs and client metadata
After=owntone.service

[Service]
Type=simple
ExecStart=/srv/http/command/owntone_monitor.php
Restart=always

[Install]
WantedBy=multi-user.target
