[Unit]
Description=Deferred NIC refresh
After=redis.service
Requires=redis.service

[Service]
Type=oneshot
ExecStart=/srv/http/command/refresh_nics async
