# this unit is designed to run before the shutdown or reboot command commences
#   it actually starts before shutdown or reboot actions begin, but these actions are 
#   started before this unit completes
#   the result is that this concept is unreliable for running the rune_shutdown script
#   for something simple like displaying a splash screen it will work fine
#
[Unit]
Description=RuneAudio shutdown script
ConditionFileIsExecutable=/var/www/command/rune_shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=-/var/www/command/rune_shutdown
ExecStart=/bin/bash -c 'exit 0'

[Install]
WantedBy=shutdown.target
