[Unit]
Description=Weston Kiosk Mode
After=network.target

[Service]
Type=notify
#User=http
Group=http
#PAMName=http
RuntimeDirectory=weston
RuntimeDirectoryMode=0755
Environment="XDG_RUNTIME_DIR=/run/weston"
ExecStart=/usr/bin/weston --tty=1 --log=/var/log/runeaudio/weston.log --config=/srv/http/.config/weston.ini --modules=systemd-notify.so
ExecStop=/usr/bin/pkill -15 weston
IgnoreSIGPIPE=no
#Restart=always
#RestartSec=1
StandardOutput=journal
StandardError=journal
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
